<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <div class="root"></div>
    <h1><%= htmlWebpackPlugin.options.product_name %></h1>
    <p><%= htmlWebpackPlugin.options.product_title %></p>
    <span><%= htmlWebpackPlugin.options.price%></span>
    <span><%= htmlWebpackPlugin.options.status%></span>
  </body>
</html>
