/* Global */
/* .about-page {
  height: 90vh;
} */

.about-page .container {
  width: 80%;
  margin: 0 auto;
}

.about-page .main-text {
  width: 100%;
  margin-top: 42px;
  text-align: center;
}

.about-page .main-text h1 {
  font-weight: 600;
  font-size: 50px;
  color: #43c466;
  margin-bottom: 53px;
}

.about-page .main-text p {
  display: inline-block;
  width: 1150px;
  text-align: left;
  font-weight: normal;
  font-size: 25px;
  color: #000000;
  margin-bottom: 30px;
}
