.btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 300px;
    height: 150px;
    background-color: inherit;
}
.red {
    background-color: red;
}