* {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

#main {
    background-color: rgb(221, 212, 212);
    text-align: center;
    height: 100%;
}

#main > p {
    margin-top: 1rem;
    margin-bottom: 0.85rem;
    font-weight: 100;
    font-size: 0.8rem;
}

#title {
    padding-top: 2.5rem;
    font-size: 3rem;

}

#img-div {
    width: 95%;
    background-color: white;
    margin: 0 auto;
    border-radius: 0.3rem;
}

#image {
    margin: 0.5rem 0;
    width: 20vw;
}

#img-caption {
    font-weight: 100;
    margin-bottom: 0.5rem;
    padding-bottom: 0.7rem;
    font-size: 0.8rem;
}

#head-of-timeline {
    margin-top: 1.5rem;
    font-size: 1rem;
}

ul {
    margin: 0.5rem auto;
    width: 30rem;
}

ul li {
    margin-top: 1rem;
    font-size: 0.7rem;
    text-align: left;
}

li strong {
    font-size: 0.7rem;
}

#tribute-info h3 {
    font-size: 0.8rem;
    padding-bottom: 1rem;
}