/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
} */

/* Lab1 */
.lab1 {
  display: flex;
  width: 18%;
  justify-content: space-between;
  margin: 0 auto;
  height: 50px;
  margin-top: 50px;
}

.lab1 h1 {
  display: inline-block;
  height: 50px;
  margin: 0;
}

.lab1 .btn {
  width: 50px;
  height: 40px;
  font-size: 25px;
}

.lab1 .btn-reset {
  width: 80px;
}

/* Lab2 */
.lab2 {
  display: block;
  width: 60%;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
}

.lab2 .btn {
  margin-left: 10px;
}

.lab2 ul {
  margin: 0 auto;
  width: 40%;
}

.lab2 li {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.lab2 .toggle {
  text-decoration: line-through;
  color: green;
}

.lab2 span:hover {
  cursor: pointer;
}

/* Lab3 */

.lab3 {
  width: 100%;
}

.lab3 nav {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: brown;
}

.lab3 .btn-newGame {
  background-color: white;
  width: 100px;
  height: 35px;
  font-weight: 600;
  border: none;
}

.lab3 .game {
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
}

/* Game Control */
.lab3 .game-control {
  width: 30%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  border: 1px solid black;
}

.lab3 .row-number {
  display: flex;
  height: 30%;
  justify-content: center;
  align-items: center;
}

.lab3 .row-number h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  background-color: brown;
  color: #fff;
  font-size: 50px;
  font-weight: 400;
}

/* Game Control Button */
.lab3 .game-control .row-button {
  display: flex;
  justify-content: center;
  /* margin-top: 20px; */
}

.lab3 .game-control .btn {
  width: 60px;
  height: 30px;
  margin-left: 10px;
  border: none;
}

.lab3 .game-control .btn-roll {
  background-color: red;
  color: #fff;
}

.lab3 .game-control .btn-keep {
  background-color: rgb(66, 175, 66);
  color: #fff;
}

/* Lab4 */
.lab4 {
  width: 100%;
}

/* Lab4 Nav Bar */
.lab4 nav {
  background-color: crimson;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 60px;
}

.lab4 nav .logo {
  font-size: 20px;
  font-weight: 500;
}

.lab4 nav .search-and-add {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.lab4 nav .search-and-add input {
  min-height: 30px;
  min-width: 200px;
  border-radius: 5px;
}

.lab4 nav .search-and-add .btn {
  width: 60px;
  margin-left: 5px;
  background-color: inherit;
  border: 1px solid #fff;
  color: #fff;
  font-weight: 500;
  border-radius: 5px;
}

.lab4 nav .search-and-add .btn:hover {
  color: black;
  background-color: #fff;
}

/* Lab4  Section Todo-Doing-Done*/
.lab4 .todo-doing-done {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}
