<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>INDEX</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container" style="max-width: 980px">
      <h1>EJS Template</h1>
      <h3>Welcome <%= user %></h3>
      <a class="nav-link btn btn-outline-info" href="/create-todo">Add</a>
      <% todos.forEach(item=>{%>
      <div class="row my-3 w-100">
        <span class="col-6"><%=item.list%></span>
        <div class="col-3">
          <button class="btn btn-outline-info" type="button">
            <a style="text-decoration: none; color: inherit" href="/edit-todo">Edit</a>
          </button>
          <button class="btn btn-outline-danger" type="button">
            <a style="text-decoration: none; color: inherit" href="/delete-todo">Delete</a>
          </button>
        </div>
      </div>
      <% })%>
    </div>
  </body>
</html>
