.counter_page {
  width: 100%;
}

.counter_page .header {
  text-align: center;
}

.counter_page .header h1 {
  font-size: 40px;
}

.counter_page .content h2 {
  font-size: 25px;
  margin-left: 30px;
}
